.ad{
 
  height: auto;
 
  
  h2{
    font-size: 24px;
    color:#666;
    border-bottom: 1px solid #ccc;
    padding:0.5em;
  }
  .ad-list{
    margin:1em auto;
  }
  div{
   
    a{
      text-decoration: none;
      display: block;
       h4{
    padding: 0.5em 0;
    font-size: 18px;
    margin-bottom: 0.5em;
  }
  p{
    color:#ccc;
    margin-bottom: 0.5em;
    font-size: 15px;
  }
  .img{
    width: 90%;
    height: 100px;
    img {
     width: 100%;
     height: 100%;

    }
    
  }
    }
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; 
  align-content: flex-start;
  width: 96%;
  flex-wrap: wrap;
 
  div{
    flex-basis: 33%;
    text-align: center;

  } 
  }

}