@font-face {
    font-family: 'icomoon';
    src: url('./fonts/icomoon.eot?bimcxe');
    src: url('./fonts/icomoon.eot?bimcxe#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?bimcxe') format('truetype'), url('fonts/icomoon.woff?bimcxe') format('woff'), url('fonts/icomoon.svg?bimcxe#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e900";
}

.icon-image:before {
    content: "\e90d";
}

.icon-camera:before {
    content: "\e90f";
}

.icon-headphones:before {
    content: "\e910";
}

.icon-music:before {
    content: "\e911";
}

.icon-play:before {
    content: "\e912";
}

.icon-film:before {
    content: "\e913";
}

.icon-spades:before {
    content: "\e917";
}

.icon-clubs:before {
    content: "\e918";
}

.icon-diamonds:before {
    content: "\e919";
}

.icon-connection:before {
    content: "\e91b";
}

.icon-feed:before {
    content: "\e91d";
}

.icon-mic:before {
    content: "\e91e";
}

.icon-file-empty:before {
    content: "\e924";
}

.icon-file-text2:before {
    content: "\e926";
}

.icon-stack:before {
    content: "\e92e";
}

.icon-folder:before {
    content: "\e92f";
}

.icon-folder-open:before {
    content: "\e930";
}

.icon-folder-download:before {
    content: "\e933";
}

.icon-folder-upload:before {
    content: "\e934";
}

.icon-coin-dollar:before {
    content: "\e93b";
}

.icon-coin-yen:before {
    content: "\e93e";
}

.icon-lifebuoy:before {
    content: "\e941";
}

.icon-phone:before {
    content: "\e942";
}

.icon-address-book:before {
    content: "\e944";
}

.icon-pushpin:before {
    content: "\e946";
}

.icon-location2:before {
    content: "\e948";
}

.icon-display:before {
    content: "\e956";
}

.icon-database:before {
    content: "\e964";
}

.icon-bubble:before {
    content: "\e96b";
}

.icon-user:before {
    content: "\e971";
}

.icon-users:before {
    content: "\e972";
}

.icon-spinner9:before {
    content: "\e982";
}

.icon-zoom-in:before {
    content: "\e987";
}

.icon-zoom-out:before {
    content: "\e988";
}

.icon-enlarge:before {
    content: "\e989";
}

.icon-cog:before {
    content: "\e994";
}

.icon-hammer:before {
    content: "\e996";
}

.icon-glass2:before {
    content: "\e9a1";
}

.icon-airplane:before {
    content: "\e9af";
}

.icon-accessibility:before {
    content: "\e9b2";
}

.icon-target:before {
    content: "\e9b3";
}

.icon-switch:before {
    content: "\e9b6";
}

.icon-list-numbered:before {
    content: "\e9b9";
}

.icon-list2:before {
    content: "\e9bb";
}

.icon-sun:before {
    content: "\e9d4";
}

.icon-contrast:before {
    content: "\e9d5";
}

.icon-star-full:before {
    content: "\e9d9";
}

.icon-heart:before {
    content: "\e9da";
}

.icon-man:before {
    content: "\e9dc";
}

.icon-woman:before {
    content: "\e9dd";
}

.icon-man-woman:before {
    content: "\e9de";
}

.icon-plus:before {
    content: "\ea0a";
}

.icon-minus:before {
    content: "\ea0b";
}

.icon-checkmark:before {
    content: "\ea10";
}

.icon-play2:before {
    content: "\ea15";
}

.icon-pause:before {
    content: "\ea16";
}

.icon-previous:before {
    content: "\ea18";
}

.icon-next:before {
    content: "\ea19";
}

.icon-backward:before {
    content: "\ea1a";
}

.icon-forward2:before {
    content: "\ea1b";
}

.icon-play3:before {
    content: "\ea1c";
}

.icon-last:before {
    content: "\ea22";
}

.icon-previous2:before {
    content: "\ea23";
}

.icon-next2:before {
    content: "\ea24";
}

.icon-volume-high:before {
    content: "\ea26";
}

.icon-volume-medium:before {
    content: "\ea27";
}

.icon-arrow-down:before {
    content: "\ea36";
}

.icon-arrow-down-left:before {
    content: "\ea37";
}

.icon-arrow-left:before {
    content: "\ea38";
}

.icon-arrow-right2:before {
    content: "\ea3c";
}

.icon-arrow-down2:before {
    content: "\ea3e";
}

.icon-arrow-down-left2:before {
    content: "\ea3f";
}

.icon-arrow-left2:before {
    content: "\ea40";
}

.icon-circle-up:before {
    content: "\ea41";
}

.icon-circle-right:before {
    content: "\ea42";
}

.icon-circle-down:before {
    content: "\ea43";
}

.icon-ctrl:before {
    content: "\ea50";
}

.icon-facebook2:before {
    content: "\ea91";
}

.icon-rss:before {
    content: "\ea9b";
}